<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Public/css/all.min.css" rel="stylesheet" />
    <link href="~/Public/css/layout.css" rel="stylesheet" />

    @RenderSection("head", required: false)
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0&appId=3332707726956028&autoLogAppEvents=1" nonce="1zcbI6Vk"></script>
    <script>

        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);                   // The current login status of the person.
            if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                testAPI();
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this webpage.';
            }
        }


        function checkLoginState() {               // Called when a person is finished with the Login Button.
            FB.getLoginStatus(function (response) {   // See the onlogin handler
                statusChangeCallback(response);
            });
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: '{3332707726956028',
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     // Parse social plugins on this webpage.
                version: '{v11.0}'           // Use this Graph API version for this call.
            });


            FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
            });
        };

        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });

        }

    </script>
    <div id="status">
    </div>

    <!-- Load the JS SDK asynchronously -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <section id="hearder" class="bg-primary">
        <div class="container">

            <div class="col-md-2 logo">
                <a href="@Url.Action("Index","Site")"><img src="~/Public/Images/logo/logoNH.jpg" class="img-circle" /></a>
            </div>
            <div style="margin-top:70px" class="col-md-6 ">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input style="width:450px" type="text" class="form-control" placeholder="Nhập từ khóa cần tìm">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div style="margin-top:80px" class="col-md-2">
                <a style="width: 180px; height: 30px" class="btn btn-danger"><i class="fas fa-phone">Hotline: 0932045603</i></a>
            </div>
            <div style="margin-top:80px" class="col-md-2">
                <a style="color:tomato"><i class="fas fa-shopping-cart"></i>@Html.Action("GioHangPartial", "GioHang")</a>
            </div>
        </div>

    </section>

    <section id="mainmenu" class="mainmenu">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thông Tin Mới<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.Action("Detai", "Site")</li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Các Loại Sản Phẩm <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.Action("ChuDe", "Site")</li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Thành Viên @Html.Action("Menu", "Site") <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("DangKi","NguoiDung")">Đăng Ký Thành Viên</a></li>
                                <li><a href="@Url.Action("DangNhap","NguoiDung")">Đăng Nhập</a></li>
                                <li><a href="@Url.Action("Login","Admin")">Admin</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </section>
    <section id="maincontent">
    </section>
    @RenderBody()
    <section id="footer" class="footer">
        <div class="zalo-chat-widget" data-oaid="2621724446363638657" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>

        <script src="https://sp.zalo.me/plugins/sdk.js"></script>
        <div class="container">
            <div class="ro">
                <img src="~/Public/Images/logo/logoNH.jpg" />
            </div>
            <div class="ro">
                <h4 style="text-align:center">Trang web được hợp tác phát hành bởi Nhóm 2 lớp 18DTHC6 và shop nước hoa Bon <br />Văn phòng đại diện: 475A Điện Biên Phủ, phường 25, quận Bình Thạnh, thành phố Hồ Chí Minh, Việt Nam.<br />Điện thoại: 0378 105 127 - 0932 045 603</h4>
            </div>

            <div class="ro">
                <a href="https://www.facebook.com/trungbut.nguyen" class="social-links">Facebook</a>
                <a href="https://www.youtube.com" class="social-links">Youtube</a>
                <a href="https://www.daotao.hutech.edu.vn" class="social-links">Điều khoản dịch vụ</a>
                <a href="https://thayphet.net/" class="social-links">Trung tâm hỗ trợ</a>
            </div>
            @*<div class="ro">
                <img src="images/warning.png" />
            </div>*@
            <hr />
            <h4 style="text-align:center">copyright 2021 - Nhom 2_ Nuoc hoa Bon</h4>
        </div>
    </section>
    
    @*<section id="copyright" class="copyright" style="text-align:center">
    </section>*@


    <style>
        a {
            text-decoration: none;
            color: #d2b48c;
            font-weight: 600;
            font-size: larger;
        }

        .footer {
            background: #2E3639;
            color: #8a8a8a;
            font-size: 14px;
            padding: 60px 0 20px;
        }

        .social-links {
            text-align: center;
            padding: 5px;
            margin: 20px;
        }
    </style>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/popper.mim.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
